@{
    ViewData["Title"] = "Panel Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Panel</title>
</head>
<body>
<div>
    <h2>Welcome to Panel page, You are entitled to see it</h2>
</div>
</body>
</html>